<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/detail.css">
</head>
<body>
 <form action="/detail/<%= @content.id %>" method="post">
    <p>授業:<input type="text" name="name" value="<%= @content.name %>"></p>
    <p>場所:<input type="text" name="place" value="<%= @content.place %>"></p>
    <p>教授名：<input type="text" name="teacher" value="<%= @professor.teacher %>"></p>
    <p>メールアドレス：<input type="text" name="mail" value="<%= @professor.mail %>"></p>
    <p>口コミ：<input type="text" name="sentence"></p>
    <p>教科書/持ち物：<input type="text" name="text"></p>
    <p>URL：<input type="url" name="text_url"></p>
    <p>日時：<input type="datetime" name="deadline"></p>
    <p>内容：<input type="text" name="report"></p>
      <input type="submit" value="完了" class="button">
 </form>
 <form action="/delete/<%= @content.id %>" method="post">
        <input type="submit" value="削除" class="button">
 </form>
 
<p>口コミ</p>
   <% @comments.each do |comment| %>
    <p><%= comment.sentence %></p>
   <% end %>

 
<p>教科書</p>
   <% @textbooks.each do |textbook| %>
    <p><%= textbook.text %></p>
    <p><a href="<%= textbook.text_url %>"><%= textbook.text_url %></a></p>
   <% end %> 
 
<p>リマインド</p>
  <% @reminders.each do |reminder| %>
    <p><%= reminder.deadline %></p>
    <p><%= reminder.report %></p>
  <% end %>
</body>
</html>